@model List<EventEase.Models.BookingViewModel>
@* @model EventEase.Models.BookingIdViewModel  *@
@* @model IEnumerable<EventEase.Models.Booking> *@



@{
    ViewData["Title"] = "Bookings";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Bookings" asp-action="Index" method="get">
    <p>
        <!--  Informational message above search string -->
    <p><strong>Please enter the 'Booking ID' or 'Event Name' you would like to search for:</strong> </p>

        Search: <input type="text" name="searchString" />
        <input type="submit" value="Search" />
    </p>

</form>


<table class="table">
    <thead>
        <tr>
            <th>Booking ID</th>
            <th>Booking Date</th>
            <th>Event Name</th>
            <th>Event Description</th>
            <th>Start Time</th>
            <th> End Time</th>
            <th>Venue Name</th>
            <th>Venue Location</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    
            <tr>
                <td>@item.BookingID</td>
                <td>@item.BookingDate</td>
                <td>@item.EventName</td>
                <td>@item.EventDescription</td>
                <td>@item.StartTime</td>
                <td>@item.EndTime</td>
                <td>@item.VenueName</td>
                <td>@item.VenueLocation</td>

            </tr>


}
    </tbody>
</table>
