@model List<EventEase.Models.BookingViewModel>




@{
    ViewData["Title"] = "Summary";
}

<h1>Booking Summary</h1>



<form asp-controller="BookingViews" asp-action="Index" method="get">
   
        <!--  Informational message above search string -->
    <p>Please enter the 'Booking ID' or 'Event Name' you would like to search for:</p>

    Search: <input type="text" name="searchString" />
    <input type="submit" value="Search" />
    

</form>


<table class="table">
    <thead>
        <tr>
            <th>Booking ID</th>
            <th>Booking Date</th>
            <th>Event Name</th>
            <th>Event Description</th>
            <th>Event Date</th>
            <th>Start Time</th>
            <th> End Time</th>
            <th>Venue Name</th>
            <th>Venue Location</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <td>@item.BookingID</td>
                <td>@item.BookingDate</td>
                <td>@item.EventName</td>
                <td>@item.EventDescription</td>
                <td>@item.EventDate</td>
                <td>@item.StartTime</td>
                <td>@item.EndTime</td>
                <td>@item.VenueName</td>
                <td>@item.VenueLocation</td>

            </tr>


        }
    </tbody>
</table>
